@import "variables";

.map{
  &-container{
    background: #000;
    height: 25rem;
    width: 100%;
  }
}
.map-wrapper, #map{
  width: 100%;
  height: 100%;
}

.swiper{
  &-container{
    width: 840px;
  }
  &-slide{
    height: 480px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: #666;
    & > img{
      height: 100%;
      width: auto;
    }
  }
}

.custom {
  &-btn{
    color: #fff;
    background-color: #333;
    padding: 1rem 1.3rem;
    border-radius: 50%;
    display: flex;
    text-align: center;
    &::after{
      font-size: 1.5rem;
    }
  }
}

.page{
  &-link{
    padding: 0.4rem 0.8rem;
    color: $primary-color; 
  }
  &-item{
    &.active{
      .page-link{
        background-color: $secondary-color ; 
        border-color: $secondary-color ; 
      }
    }
  }
}


.form {
  &-select {
    border-width: 2px;

    &:focus {
      box-shadow: none;
      border-color: $primary-color;
    }
    option:hover {
      background-color: $secondary-color;
    }
  }
  &-control{
    border-radius: 5px;
    border-width: 2px;
    border-color: #c5c5c5;
    
    &:focus{
      box-shadow: none;
      border-color: $secondary-color;
    }
  }
}

.breadcrumb{
  &-item{
    a{
      text-decoration: none;
    }
  }
}
